<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IDentify</title>
    <script src="https://kit.fontawesome.com/de4851ac23.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='menu.css') }}">
</head>
<body>
    <div id="main" style="transition: all 0.5s linear;">
        <div class="glow_effect"></div>
        <header>
            <h1><span>I</span><i>nställningar</i></h1>
            <i id="hamburger-button" class="fa-solid fa-bars fa-2xl" style="color: #ffffff; color: #ffffff; float: right; margin-top: 40px; margin-right: 20px;"></i>
        </header>

        <div class="butik" style="text-align: center; margin: 10px; width: calc(100% - 20px);">
            <h3 style="text-align: left; font-weight: 400; position: relative; top: 5px; margin-right: 9px;">I denna sidan kan du ändra din profil.</h3>
        </div>

        <h3 style="margin-bottom: -5px;">Förnamn</h3>
        <div class="butik" style="text-align: center; margin: 10px;">
            <input id="firstname_box" type="text">
        </div>
        <h3 style="margin-bottom: -5px;">Efternamn</h3>
        <div class="butik" style="text-align: center; margin: 10px;">
            <input id="surname_box" type="text">
        </div>
        <h3 style="margin-bottom: -5px;">Personnummer</h3>
        <div class="butik" style="text-align: center; margin: 10px;">
            <input id="ssn_box" type="number">
        </div>
        <h3 style="margin-bottom: -5px;">Profilbild</h3>
        <div class="butik" style="text-align: center; margin: 10px;">
            <input id='fileid' accept="image/*" type='file' hidden/>
            <button onclick="upload_img()">Välj Bild</button>
        </div>
        <div class="butik" style="text-align: center; margin: 10px;">
            <button style="height: 50px;" id="submit">Spara</button>
        </div>
    </div>

    <div class="menu-background" style="visibility:hidden;">
        <div id="menu">
            <ul>
                <li onclick="window.location.href = '/'"><i class="fa-solid fa-house" style="color: #ffffff; margin-right: 5px;"></i> Hem</li>
                <li onclick="window.location.href = '/butiker'"><i class="fa-solid fa-shop" style="color: #ffffff; margin-right: 5px;"></i> Butiker</li>
                <li><i class="fa-solid fa-right-to-bracket" style="color: #ffffff; margin-right: 5px;"></i> Byt konto</li>
                <li style="letter-spacing: -3px; opacity: 0.2;">-----------------</li>
                <li><i class="fa-solid fa-circle-info" style="color: #ffffff; margin-right: 5px;"></i> Om projektet</li>
                <li><i class="fa-solid fa-gear" style="color: #ffffff; margin-right: 5px;"></i> Inställningar</li>
            </ul>
        </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="{{ url_for('static', filename='settings.js') }}"></script>
</body>
</html>